<div>
  <!-- Header -->
  <app-nft-header></app-nft-header>
  <!-- end Header -->

  <div class="grid grid-cols-1 gap-4 pt-4 pb-4 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4">
    <!-- Dual Card -->
    <!--    <div nft-dual-card [nft]="nft[0]" class="md:col-span-2"></div>-->
    <!-- end Dual Card -->
    <!-- Single Card -->
    <div nft-single-card [nft]="nft[1]"></div>
    <div nft-single-card [nft]="nft[2]"></div>
    <div nft-single-card [nft]="nft[2]"></div>
    <div nft-single-card [nft]="nft[2]"></div>
    <div nft-single-card [nft]="nft[2]"></div>
    <div nft-single-card [nft]="nft[2]"></div>
    <div nft-single-card [nft]="nft[2]"></div>
    <div nft-single-card [nft]="nft[2]"></div>
    <!-- end Single Card -->
    <!-- Single Card -->
  </div>
  <app-nft-header></app-nft-header>
  <div class="grid grid-cols-1 gap-4 pt-4 pb-4 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4">
    <!-- Dual Card -->
    <!--    <div nft-dual-card [nft]="nft[0]" class="md:col-span-2"></div>-->
    <!-- end Dual Card -->
    <!-- Single Card -->
    <div nft-single-card [nft]="nft[1]"></div>
    <div nft-single-card [nft]="nft[2]"></div>
    <div nft-single-card [nft]="nft[2]"></div>
    <div nft-single-card [nft]="nft[2]"></div>
    <div nft-single-card [nft]="nft[2]"></div>
    <div nft-single-card [nft]="nft[2]"></div>
    <div nft-single-card [nft]="nft[2]"></div>
    <div nft-single-card [nft]="nft[2]"></div>
    <!-- end Single Card -->
    <!-- Single Card -->
  </div>


</div>
